.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main.touched {
    background-color: red;

}

.video {
    margin-top: 100px;
    width: 480px;
    height: 360px;
    background-color: #333;
}

.control {
    margin-top: 30px;
}

/* .btn {
    padding: 4px 16px;
    font-size: 1.4rem;
    margin: 100 8px;
  } */

.btn_g {
    padding: 10px 16px;
    font-size: 1.4rem;
    margin: 0 8px;
    color: green;
}

.btn_b {
    padding: 10px 16px;
    font-size: 1.4rem;
    margin: 0 8px;
    color: red;
}

.btn {
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 1.4rem;
    margin: 30px 8px;
}